<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div th:replace="common/top"/>

<div id="Content">

    <div id="Catalog">
        <form action="/account/login_confirm" method="post">
            <p>Please enter your username and password.</p>
            <p>
                Username:<input type="text" th:name="username" />
                <br/>
                Password:<input type="password" th:name="password"/>
                <br/>
                <div class="g-recaptcha" data-sitekey="6LezCeYUAAAAAGFHT6vloDsIiC4IgAIiTjEPIpCy"></div>
                <br/>
            </p>
            <input th:type="submit" value="Login"/>
        </form>
        Need a user name and password?<a href="/account/register" th:text="register"></a>
    </div>
</div>

<div th:replace="common/bottom"/>
<script>
    let form = document.querySelector("#Catalog>form");
    form.addEventListener("submit", e => {
        e.preventDefault();
        // let data = new FormData();
        // let inputs = form.querySelectorAll("input[type=\"text\"], input[type=\"password\"]");
        if (!grecaptcha.getResponse()) {
            alert("Please fill in the captcha.");
            return;
        } else {
            fetch("/account/captcha", {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    google_recaptcha_token: grecaptcha.getResponse()
                })
            }).then(res => {
                return res.json();
            }).then(res => {
                if (res.success == false) {
                    alert("Captcha is not vaild");
                    return;
                }
            }).catch(err => {
                console.log(err)
            })
        }
        // let captcha = document.createElement("input");
        // captcha.type = "hidden";
        // captcha.name = "google_recaptcha_token";
        // captcha.value = grecaptcha.getResponse();
        // form.appendChild(captcha);
        form.submit();
        // inputs.forEach(input => {
        //     // console.log(input.name, input.value)
        //     data.append(input.name, input.value)
        // });
        // fetch("/account/login_confirm", {
        //     method: 'POST',
        //     body: form,
        // });
    })
</script>
</body>
</html>