<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ProductMapper">
    <select id="getProduct" parameterType="String" resultType="Product">
    select
        productid,
        name,
        descn as description,
        category as categoryId
    from product
    where productid = #{productId}
    </select>

    <select id="getProductListByCategory" parameterType="String" resultType="Product">
    select
        productid,
        name,
        descn as description,
        category as categoryId
    from product
    where category = #{value}
    </select>
</mapper>